@import url('https://fonts.googleapis.com/css?family=Dosis|Lobster|Quicksand');
html, body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 90%;
  width: 600px;
  min-height: 500px;
}
#title {
  text-align: center;
  font-family: "Lobster", sans-serif;
  letter-spacing: 1px;
  background: linear-gradient(#2885ed, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}
