@import url('https://fonts.googleapis.com/css?family=Dosis|Lobster|Quicksand');

html, body {
  margin: 0;
  padding: 0;
}

.top {
  text-align: left;
  font-family: "Lobster", sans-serif;
  letter-spacing: 1px;
  margin-left: 20px;
}

.top h1 {
  background: linear-gradient(#2885ed, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  width: 80%;
  margin: auto;
  background: #eee;
  padding: 20px;
  max-width: 1000px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.content p {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
}

form {
  width: 80%;
  margin: auto;
  text-align: center;
}

form input {
  width: 80%;
  padding: 20px 10px;
  font-family: "Dosis", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  border: none;
  background: #eee;
  border-bottom: 3px solid black;
  outline: none;
  -webkit-display: none;
  margin-bottom: 10px;
  transition: 600ms ease;
}

form input:last-child {
  background: #2885ed;
  border: none;
  color: white;
  font-family: "Lobster", sans-serif;
  margin-top: 35px;
}

form input:focus {
  border-color: #2885ed;
  background: #fff;
  transition: 600ms ease;
}

form input:last-child:focus {
  clear: both;
}

form textarea {
  width: 80%;
  height: 300px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  padding: 10px;
  font-size: 18px;
  background: #eee;
  border: none;
  border-left: 3px solid black;
  transition: 600ms ease;
  outline: none;
}

form textarea:focus {
  border-color: #2885ed;
  background: #fff;
  transition: 600ms ease;
}
